<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="card latest-update-card">
                <div class="card-header">
                    <h5>Latest Updates</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                            <li><i class="fa fa-window-maximize full-card"></i></li>
                            <li><i class="fa fa-minus minimize-card"></i></li>
                            <li><i class="fa fa-refresh reload-card"></i></li>
                            <li><i class="fa fa-trash close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="latest-update-box">
                        <div class="row p-t-20 p-b-30">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">1 hrs ago</p>
                            </div>
                            <div class="col">
                                <h6>Assignment Submitted successfully</h6>
                                <p class="text-muted m-b-0">You have submitted your assignment submission for task 5 | Angular Course</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">3 hrs ago</p>
                            </div>
                            <div class="col">
                                <h6>New Task Added</h6>
                                <p class="text-muted m-b-0">New task (task 3) added | Flutter Course</p>
                            </div>
                        </div>
                        <div class="row p-b-30">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">1 day ago</p>
                            </div>
                            <div class="col">
                                <h6>Assignment Deadline in 1 Day</h6>
                                <p class="text-muted m-b-0">Assignment 4 Deadline expires soon | Montage Course</p>
                            </div>
                        </div>
                        <div class="row p-b-0">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">2 days ago</p>
                            </div>
                            <div class="col">
                                <h6>Assignment Deadline in 2 Days</h6>
                                <p class="text-muted m-b-10">Assignment 7 Deadline expires soon | Motion Graphics Course</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
