<section class="py-5">
	<div class="container">
		<div class="row align-items-center gx-4">
			<div class="col-md-5">
				<div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" height="800" width="800" src="/assets/iaemschart.jpg"></div>
			</div>
			<div class="col-md-6 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<h2 class="display-5 fw-bold">
						IAEMS
						</h2>
					<p class="lead">
						The International Academy for Engineering and Media Sciences is located within the Media Production City, one of the largest media institutions in the Middle East.</p>
					<p class="lead">
						The academy, affiliated with the Ministry of Higher Education and Scientific Research, is committed to preparing skilled professionals according to accredited national academic standards to meet the needs of the local and regional labor markets. It also aims to conduct applied scientific research to serve the community and promote environmental development while upholding high ethical values.					</p>
					<p class="lead">
						The International Academy for Engineering and Media Sciences consists of the Media Sciences Division, the Media Engineering Division, and the Business Administration Division. Each division includes academic departments and specialized study programs, as outlined in their internal regulations.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-5">
	<div class="container">
		<div class="row justify-content-center text-center mb-2 mb-lg-4">
			<div class="col-12 col-lg-8 col-xxl-7 text-center mx-auto">
				<h2 class="display-5 fw-bold">Departments</h2>
			</div>
		</div>
		<div class="row py-5">
			<div class="col-md-4 py-2 py-md-2">
				<div class="bg-light mb-5 mb-md-0 p-2 p-lg-5 text-center position-relative">
					<img alt="" class="rounded-circle position-absolute translate-middle top-0" height="96" src="https://freefrontend.dev/assets/square-small.png" width="96">
					<div class="text-primary mb-md-4 mb-2 mt-5 mt-lg-4">
						<svg class="bi bi-quote" fill="currentColor" height="48" viewbox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path></svg>
					</div>
					<h3 class="mt-4 fw-bold">Media Sciences</h3>
					<p class="mb-4">
						The Department of Media Sciences includes four academic programs, and the study in the department is conducted according to the credit hour system. The duration of study in the department is no less than three years to obtain a bachelor's degree, provided that the student successfully completes 132 credit hours by the end of the first, second, and summer terms of each year.
					</p>
					<p>	The academy grants a Bachelor’s degree in Media Sciences, accredited by the Supreme Council of Universities, in one of the following academic program specializations:</p>
					<ul>
						<li>Radio and Television Production Program.</li>
						<li>Film Production Program.</li>
						<li>Advertising Production Program.</li>
						<li>Multimedia and Internet Program.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 py-2 py-md-2">
				<div class="bg-light mb-5 mb-md-0 p-2 p-lg-5 text-center position-relative">
					<img alt="" class="rounded-circle position-absolute translate-middle top-0" height="96" src="https://freefrontend.dev/assets/square-small.png" width="96">
					<div class="text-primary mb-md-4 mb-2 mt-5 mt-lg-4">
						<svg class="bi bi-quote" fill="currentColor" height="48" viewbox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path></svg>
					</div>
					<h3 class="mt-4 fw-bold">Engineering</h3>
					<p class="mb-4">The Department of Engineering includes five academic programs, and the study in the department is conducted according to the credit hour system. The duration of study in the department is no less than four years to obtain a bachelor’s degree, provided that the student successfully completes 144 credit hours by the end of the first, second, and summer terms of each year.
						</p>
						<p>The academy grants a Bachelor’s degree in Engineering, accredited by the Ministry of Higher Education and equivalently recognized by the Supreme Council of Universities in Egypt, in one of the following program specializations:</p>
						<ul>
							<li>Architecture Engineering Program.</li>
							<li>Civil Engineering Program.</li>
							<li>Power and Electrical Machines Engineering Program.</li>
							<li>Communications Engineering Program.</li>
							<li>Computer Engineering Program.</li>
						</ul>
				</div>
			</div>
			<div class="col-md-4 py-2 py-md-2">
				<div class="bg-light mb-5 mb-md-0 p-2 p-lg-5 text-center position-relative">
					<img alt="" class="rounded-circle position-absolute translate-middle top-0" height="96" src="https://freefrontend.dev/assets/square-small.png" width="96">
					<div class="text-primary mb-md-4 mb-2 mt-5 mt-lg-4">
						<svg class="bi bi-quote" fill="currentColor" height="48" viewbox="0 0 16 16" width="48" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path></svg>
					</div>
					<h3 class="mt-4 fw-bold">Business Administration</h3>

					<p class="mb-4">The Department of Business Administration includes six academic programs, three of which are taught in Arabic and three programs in English. The study in the department is conducted according to the credit hour system. The duration of study in the department is no less than three years to obtain a bachelor’s degree, provided that the student successfully completes 132 credit hours by the end of the first, second, and summer terms of each year.</p>
					<p>The academy grants a Bachelor’s degree in Business Administration, equivalently recognized by the Supreme Council of Universities, in one of the following program specializations: </p>
                    <ul>
						<li>Media Institutions Management Program.</li>
						<li>Finance and Accounting Program.</li>
						<li>Marketing and Advertising Program.</li>
					</ul>				
					</div>
			</div>
		</div>
	</div>
</section>