.container{
  margin-top: 10%;
}
.img-fluid{
  max-width: 140%;
}
.equal-height{
  display: flex;
}
.equal-height .col-md-4 { 
  display: flex;
  flex-direction: column; 
} 
.equal-height .bg-light { 
  flex: 1; display: flex;
  flex-direction: column; 
  justify-content: space-between;
}
