<div class="container">
    <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="schedule-table">
    <table class="table bg-white">
    <thead>
    <tr>
    <th>Periods</th>
    <th>8:30 - 11</th>
    <th>11 - 1:30</th>
    <th>1:30 - 4</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td class="day">Sunday</td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td class="day">Monday</td>
    <td></td>
    <td class="active">
    <p>Web Development 2</p>
    <div class="hover">
    <p>Web Development 2</p>
    <span>Ahmed El Ashry</span>
    </div>
    </td>
    <td class="active">
    <p>Training (Angular)</p>
    <div class="hover">
    <p>Training (Angular)</p>
    <span>Ahmed El Ashry</span>
    </div>
    </td>
    </tr>
    <tr>
    <td class="day">Tuesday</td>
    <td class="active">
    <p>Motion Graphics</p>
    <div class="hover">
    <p>Motion Graphics</p>
    <span>Mai Hassan</span>
    </div>
    </td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td class="day">Wednesday</td>
    <td></td>
    <td class="active">
    <p>Mobile App Development</p>
    <div class="hover">
    <p>Mobile App Development</p>
    <span>Mahmoud Samra</span>
    </div>
    </td>
    <td></td>
    </tr>
    <tr>
    <td class="day">Thursday</td>
    <td class="active">
        <p>Montage</p>
    <div class="hover">
    <p>Montage</p>
    <span>Omnia Ezz eldeen</span>
    </div>
    </td>
    <td></td>
    <td></td>
    </tr> 
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>